<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>checkPwdForm</title>
</head>
<body>
<div class="container">
        <form action="/checkPwd" method="post">
            <label class="form-label">비밀번호 확인</label>
            <input type="password" id="user_pw" name="user_pw">
            <button type="submit">비밀번호 확인</button>
        </form>
</div>
</body>
</html>