<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>createBoard</title>
</head>
<body>
<div class="container">
    <h1><a href="/"> Toy Web Blog</a></h1>
    <form action="/board/new" method="post">
        <div class="form-group">
            <div>
                <label style="font-weight: bold">작성자</label>
                <input type="hidden" id="writer" name="writer" th:value="${loginMemberName}"/>
                <td th:text="${loginMemberName}"></td>
            </div>

            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>
            <div class="div_createBoard_textarea">
                <textarea id="contents" name="contents" placeholder="내용을 입력하세요." required></textarea>
            </div>
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>