<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>view</title>
</head>
<body>
<div class="container">
    <h1><a href="/"> Toy Web Blog</a></h1>
    <div class="form-group">
        <a href="/board/new">게시글 작성</a>
        <table>
            <thead> <tr>
                <th>#</th>
                <th>제목 | </th>
                <th>글 내용</th>
                <th>작성자</th>
                <th>작성 시간</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <ul>
                    <td th:text="${boardResult_board_id}"></td>
                    <td th:text="${boardResult_title}"></td>
                    <td th:text="${boardResult_contents}"></td>
                    <td th:text="${boardResult_writer}"></td>
                    <td th:text="${boardResult_register_date}"></td>
                </ul>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>