@charset "utf-8";

body{
background-color : #CFD4C6;
}

a{
text-decoration-line : none;
}

div.main_dock{
text-align: right;
}

div.side_dock{
text-align: right;
}

.span_view_writer, .span_view_register_date{
padding:1px 50px 3px 10px;
}

.div_view_contents{
padding:20px 50px 50px 10px;
}