<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <title>home</title>
</head>
<body>
<div class="container">
  <div>
    <h1><a href="/"> Toy Web Blog</a></h1>
    <div class="main_dock">
      <p>
        <a href="/login">로그인</a>
        <a href="/members/new">회원 가입</a>
        <a href="/members">회원 목록</a>
      </p>
    </div>
    <p>
      <a href="/board">게시판</a>
    </p>
  </div>
</div> <!-- /container -->
</body>
</html>